APP_NAME=Listocean
APP_ENV=production
APP_KEY=base64:MSEH8bl8Y2KswNTHgoPlI8FRpxaBpsq7apslN59yMnQ=
APP_DEBUG=false
APP_URL=https://listocean.bytesed.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bytesed_laravel_listocean
DB_USERNAME=bytesed_listocean
DB_PASSWORD=-Mam?(x3pgS9

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=b70cde9e22ef2a
MAIL_PASSWORD="2a68fe0d100e0e"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="xgeniousteam@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1801584
PUSHER_APP_KEY=84cef6e1210b689abd64
PUSHER_APP_SECRET=52bda5ef3a54a925937e
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap2

MAIL_DRIVER=smtp


























































































































